.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container--title {
  font-size: 31.25px;
  line-height: 37px;
  color: #293264;
}

.container--description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin-top: 1em;
}

.container--button {
  width: 193px;
  height: 52px;
  background: #4d5b9e;
  border-radius: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #f5f7fb;
  margin-top: 2em;
  cursor: pointer;
}

.blob-5,
.blob-6 {
  position: absolute;
}

.blob-5 {
  top: 0;
  right: 0;
}

.blob-6 {
  bottom: 0;
  left: 0;
}
